@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background-end-rgb: 255, 255, 255;

    --background: theme(colors.light-background);
    --primary: theme(colors.russian-violet);
    --secondary: theme(colors.ultra-violet);
    --accent: theme(colors.saffron);
    --error: theme(colors.blush);
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    background-color: var(--background)
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
